.about {
    height: fit-content;
}

.description-about {
    width: 100vw;
}

.description-wrapper {
    height: fit-content;
    position: relative;
    display: block;
}

.display-picture {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 70px;
    border: 3px solid white;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, .6);
}

.hi {
    font-size: 23px;
    margin: 0 auto;
    margin-left: 0;
    text-align: left;
    padding-bottom: 1.5em;
    line-height: 1.5em;
}

.about-content {
    font-size: 20px;
    line-height: 1.4em;
    font-family: 'Nunito', sans-serif;
    color: rgb(228, 228, 228);
}

.about-content p {
    margin-bottom: 1em;
}

.about-content p:last-of-type {
    text-indent: 0em;
}

@media only screen and (min-width: 961px) {
    .description-wrapper {
        height: max-content;
        position: relative;
        display: block;
        padding-bottom: 50px;
        overflow: hidden;
    }
    .description-about {
        max-width: 80%;
        margin: 0 auto;
    }
    .display-picture {
        display: block;
        float: left;
        width: 250px;
        margin-left: 0;
        margin-right: 20px;
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .hi {
        font-size: 25px;
        margin-top: 30px;
        padding-top: 10px;
        padding-bottom: 1.6em;
    }
    .about-content {
        font-size: 22px;
        line-height: 1.5em;
        font-family: 'Nunito', sans-serif;
    }
}