.contact-content {
    padding-bottom: 20px;
    font-size: 28px;
    line-height: 1.4em;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: underline;
}

h1 {
    font-size: 3em;
    padding-bottom: 30px;
}


/* .page {
    height: 100vh;
} */

.contact-description {
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 961px) {
    .contact-description {
        max-width: 80%;
    }
    .contact-content {
        font-size: 30px;
        line-height: 1.6em;
    }
    a {
        /* color: inherit; */
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}