:root {
    --animation-time: 4s;
}


/* Add a black background color to the top navigation */

.topnav {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    font-family: "neontubes";
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


/* Change the color of links on hover */

.topnav a:hover {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
}


/* Add a color to the active/current link */

.topnav a.active {
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
    animation: buzz 0.01s infinite alternate;
}


/* Right-aligned section inside the top navigation */

.topnav-right {
    float: right;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #030c1c;
}

body {
    background: hsla(180, 0, .25, 1);
}

.main {
    display: block;
    position: absolute;
    top: 50%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50vw;
    height: auto;
    font-family: "neontubes";
    font-size: 16vw;
    text-align: center;
    white-space: nowrap;
}

.main span {
    display: block;
    position: relative;
    -webkit-transform: translateZ(0) translate3D(0, 0, 0);
    transform: translateZ(0) translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: opacity;
}

.main .flicker {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
}

.columns .flicker {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
}

.body-text-padding-mod .flicker {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
}

.main .noflicker {
    font-size: 11vw;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
    animation: buzz 0.01s infinite alternate;
}

.main .noflicker a:hover {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
}

.flicker {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
}

.noflicker {
    font-size: 11vw;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
    animation: buzz 0.01s infinite alternate;
}

@-webkit-keyframes buzz {
    70% {
        opacity: 0.80;
    }
}

@keyframes buzz {
    70% {
        opacity: 0.80;
    }
}

@-webkit-keyframes blink {
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.2;
    }
    46% {
        opacity: 1;
    }
}

@keyframes blink {
    40% {
        opacity: 1;
    }
    42% {
        opacity: 0.8;
    }
    43% {
        opacity: 1;
    }
    45% {
        opacity: 0.2;
    }
    46% {
        opacity: 1;
    }
}

@media screen and (min-width: 1000px) {
    .main {
        width: 400px;
        font-size: 150px;
    }
    .main .socod {
        font-size: 103px;
    }
}

.is-footer-text {
    font-family: "neontubes";
    color: rgb(235, 237, 241);
    font-size: 1.15rem;
}

.is-footer-text a:hover {
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 4s infinite alternate;
}

.is-footer-text a {
    font-family: "neontubes";
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
    animation: buzz 0.01s infinite alternate;
}

.neon-wrapper {
    box-shadow: 0 0 0.1vw 0.2vw #fff7f7d7, 0 0 0.4vw 0.6vw #b90a33c7, 0 0 4vw 0.4vw #b90a33c7, inset 0 0 1.5vw 0.4vw #b90a33c7, inset 0 0 0.4vw 0.2vw #b90a33c7, inset 0 0 0.5vw 0.2vw #fff7f7d8;
    border-radius: 2px;
}

.home-header-text-custom {
    font-size: 1.2rem;
    font-family: Lato Regular;
    line-height: 1.6;
    color: #e4e4e4;
}

* {
    box-sizing: border-box;
}


/* 
body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
} */

.main-proj {
    max-width: 1200px;
    margin: auto;
}

.row-proj {
    margin: 10px -20px;
}


/* Add padding BETWEEN each column (if you want) */

.row-proj,
.row-proj>.column-proj {
    padding: 25px;
}


/* Create four equal columns that floats next to each other */

.column-proj {
    float: left;
    width: 33.33%;
}


/* Clear floats after rows */

.row-proj:after {
    content: "";
    display: table;
    clear: both;
}


/* Content */

.content {
    padding: 10px;
    box-shadow: 0 0 0.1vw 0.2vw #fff7f7d7, 0 0 0.4vw 0.6vw, 0 0 4vw 0.4vw, inset 0 0 1.5vw 0.4vw, inset 0 0 0.4vw 0.2vw, inset 0 0 0.5vw 0.2vw;
    color: #6b6868d7;
    border-radius: 2px;
}

.content:hover {
    color: #b1022a;
    -webkit-animation: blink 4s infinite alternate;
    animation: blink 5s infinite alternate;
}

.skam {
    filter: grayscale();
}

.skam:hover {
    filter: none;
}

.content-text h3 {
    font-family: "neontubes";
    text-align: center;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink var(--animation-time) infinite alternate;
    animation: blink var(--animation-time) infinite alternate;
}

.content-text p {
    font-family: "neontubes";
    text-align: center;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
    animation: buzz 0.01s infinite alternate;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 900px) {
    .column-proj {
        width: 50%;
    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column-proj {
        width: 100%;
    }
}