.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20% 7% 20% 7%;
}

.img-container {
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.banner {
    object-fit: cover;
    width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .6);
}

.title h1 {
    font-size: 1.8em;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 600;
}

.title h4 {
    font-size: 1.2em;
    padding-bottom: 15px;
    text-align: center;
    font-weight: 200;
}

.proj-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.tags {
    display: flex;
    justify-items: center;
}

.tag {
    padding-left: 3px;
    padding-right: 3px;
}

.section-devider {
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(63, 62, 62, 0.801);
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, .6);
}

.main-article {
    width: 85%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: 'Noto', serif;
    font-size: 1.2em;
    letter-spacing: .095em;
    word-spacing: .25em;
    color: rgb(195, 195, 195)
}

.main-article p {
    padding-bottom: 10px;
}

.main-article h2 {
    padding-bottom: 20px;
    color: rgb(235, 235, 235)
}

.main-article div {
    padding-bottom: 40px;
}

.main-article a {
    color: inherit;
    text-decoration: none;
}

.main-article a:hover {
    color: inherit;
    text-decoration: underline;
}

.project-navbar {
    display: flex;
    justify-content: center;
    padding: 5% 4% 5% 4%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.project-navbar a {
    color: inherit;
    text-decoration: none;
}

.project-navbar a:hover {
    color: inherit;
    text-decoration: underline;
}

.project-navbar a:hover {
    color: rgb(255, 255, 255);
}

.project-navbar a:active {
    color: rgba(238, 226, 226, .4);
}

.project-navbar-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (min-width: 961px) {
    .title {
        margin: 7% 7% 7% 7%;
    }
    .title h1 {
        font-size: 2em;
        padding-bottom: 30px;
    }
    .title h4 {
        font-size: 1.4em;
        padding-bottom: 30px;
    }
    .main-article {
        padding-top: 50px;
        padding-bottom: 50px;
        width: 60%;
        margin: 0 auto;
    }
    .project-navbar {
        font-size: 1.6em;
        padding: 5% 8% 5% 8%;
    }
}

@media only screen and (min-width: 451px) and (max-width: 960px) {
    .title {
        padding: 10% 7% 5% 7%;
    }
}