<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.url }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
<!-- 
      <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Blog</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">Project</a> -->
      
    </nav>
  
    <div class="sidebar-icons">

      <!-- Add font awesome icons -->
      <a href="mailto:prabhav2b@gmail.com" class="fa-solid fa-envelope"></a>
      <a href="https://prabby-patty.itch.io" target="_blank" class="fa-brands fa-itch-io"></a>
      <a href="https://bsky.app/profile/probob.bsky.social" target="_blank" class="fa-brands fa-bluesky"></a>
      <a href="https://github.com/Prabhav2B" target="_blank" class="fa-brands fa-github"></a>
      <a href="https://www.linkedin.com/in/prabhavbhatnagar/" target="_blank" class="fa-brands fa-linkedin-in" style="padding-right: 0px;"></a>
    
    </div>

    <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
